@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Nunito+Sans:wght@600&family=Source+Sans+3:wght@300&display=swap');


* {
    margin:0;
    padding:0;
}

.sidebar{
    background-color: rgb(194, 194, 194); 
    width: 434px;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
}

.sidebar nav{
     padding: 45px;
}

.sidebar nav li{
    list-style:none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;

}

.main{
    /* background-color: yellow; */
    width: 90vw;
}

.container{
    display:flex;
}

.infoContainer{
    /* background-color: lightpink; */
    height: 78vh;
    width: 80vw ;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.prodInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 20px;
}

.name{
    font-size: 80px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    padding: 10px0 0 5px 20px;
}

.about{
    font-size: 25px;
    color: darkcyan;
}

.moreabout{
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 23px;
    font-weight: 400;
}

.buttons{
    margin:34px;
}

.buttons button{
    padding: 8px 13px;
    border-width: medium;
    border-radius: 23px;
    color: white;
    background-color: darkcyan;
    font-weight: 600;
    font-size: 17px;
    margin: 0px 27px;
    cursor:pointer;
}

.buttons button:hover{
    color: darkcyan;
    background-color: white;
}

.prodPic img{
height: 78vh;

}

/* Contact.html CSS below */

.contactForm{
    font-family: 'Fira Sans', sans-serif; 
    padding: 0 34px;
    padding-top: 144px;
}

.contactForm h1{
    font-family: 'Source Code Pro', monospace;
    padding-bottom: 20px;
}

.contactForm form div{
    padding:10px 0;
    display: flex;
    flex-direction: column;
}

.contactForm form div input{
    width:26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-size:8px;
    color: midnightblue;
    margin: 0 5px;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 3px 0;
}

.btn-btn-primary{
    padding: 8px 13px;
    border-width: medium;
    border-radius: 23px;
    color: white;
    background-color: darkcyan;
    font-weight: 600;
    font-size: 17px;
    margin: 0px 27px;
    cursor:pointer;
}

.btn-btn-primary:hover{
    color: darkcyan;
    background-color: white;
}

